<h1><%= @pirate.name%></h1>
<p>Height: <%= @pirate.height%></p>
<p>Weight: <%= @pirate.weight%></p>
<hr>
<% @ships.each do |ship| %>
<h2><%= ship.name%></h2>
<p><%= ship.type%></p>
<p><%= ship.booty%></p>
<% end%>
